body {
  background-image: url("images.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.right {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}
.right a:hover {
  color: green;
  transform: scale(1.2);
}
.h1 {
  font-size: 36px;
  margin-bottom: 15px;
}
.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.login-form {
  border: 1px solid #555;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
}
#password {
  margin-top: 10px;
  margin-left: 4px;
}
.btn {
  margin-top: 15px;
  width: 102%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.btn:hover {
  color: brown;
  transform: scale(1.2);
}
