p {
    color:gray;
    font-size: 16px;
}
#title {
    color: red;
    background-color: lightblue;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.box {
    background-color: #f0f0f0;
    border: 2px solid #0077cc;
    padding: 15px;
    margin: 20px;
    font-size: 16px;
    text-align: left;
}